%h2.mb-5.text-secondary Account Overview
.row
  .col-6
    .card.text-primary.bg-light.mb-3.shadow
      .card-header.bg-primary
        %h5.card-title.fs-2.text-white Personal Details
      .card-body
        %p.card-text.fs-4
          %span.text-secondary Name:
          %span #{@admin.first_name} #{@admin.last_name}
        %p.card-text.fs-4
          %span.text-secondary Email:
          %span #{@admin.user.email}
        %p.card-text.fs-4
          %span.text-secondary Mobile:
          %span #{@admin.mobile_number}
