<nav class='navbar navbar-expand-lg navbar-light bg-light'>
	<div class="container-fluid">
		<%= link_to 'Stocks App', root_path, class: 'navbar-brand link-color'%>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<%= link_to 'Sign in', new_user_session_path, class: ''%>
				<%= link_to 'Edit Profile', edit_user_registration_path, class: ''%>
				<%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: ''%>
			</div>
		</div>
	</div>
</nav>
