.container
    -if user_signed_in?
        - if current_user.role == 'trader'
            .d-flex.flex-row.my-3.align-items-center.justify-content-between
                %h1 Hello Trader #{current_user.trader.first_name}
                = form_tag stocks_path, :method => 'get' do
                    .d-flex.flex-row.mx-sm-3.align-items-center
                        =text_field_tag :search, params[:search], :placeholder => "Search Stocks", :class => "form-control m-3 p-2"
                        =submit_tag "Search", :name => nil, :class => "btn btn-warning p-2"
            - if current_user.trader.transactions.count > 0 || current_user.trader.wallet.balance > 0
                = render 'trader_view'
            - if !account_setup
                =render 'account_setup'          
        - else 
            %h1 Hello Admin #{current_user.admin.first_name}
    -else 
        %h1 Hello Bes
