%p
  Welcome to our Trading App!
%p Complete your registration by clicking the link below.
%p= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'btn btn-primary'
